
// clear floats 

@mixin fillElement() {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

// overlays over elements 
@mixin overlay($overlayBg, $zIndex) {
  @include fillElement();
  background: $overlayBg;
  z-index: $zIndex;
}


// 
@mixin figureImg($height: 1, $width: 1) {
  position: relative;
  padding-bottom: ($height / $width) * 100%;
  height: 0px; 

  img {
    @include fillElement();
  }

}

@mixin btn-reset() {
  appearance:none; border:none; background: none; outline:none; padding:0; margin:0; border-radius:0;
}
 
 
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
}
 
@mixin sr-only() {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
 
 
@function headings() {
  @return h1,h2,h3,h4,h5,h6;
}
